@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);

  background: url('../img/background.jpg')no-repeat;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container .titulo {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .planosDeSaude {
  margin-top: 20px;
}

.planosDeSaude h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.planosOpcoes, .plano) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .plano {
  column-gap: 5px;
}

.plano input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.plano input, .plano label) {
  cursor: pointer;
}

.plano label {
  color: #707070;
}

.endereco :where(input, .planosOpcoes) {
  margin-top: 15px;
}

.planosOpcoes select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form .btnForm {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.form .btnForm:hover {
  transition: 300ms;
  background: rgb(88, 56, 250);
}

#deletarBTN {
  background-color: rgb(255, 0, 0);
}
#deletarBTN:hover {
  transition: 300ms;
  background: rgba(255, 0, 0, 0.8);
}

#atualizarBTN {
  background-color: rgb(0, 128, 0);
}
#atualizarBTN:hover {
  transition: 300ms;
  background: rgba(0, 128, 0, 0.8);
}

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.planosOpcoes, .plano) {
    row-gap: 15px;
  }
}